<template>
  <div class="page">

    <nav class="menu">
      <a @click="selectTab('home')"><img class="side-bar-logo" src="@/assets/images/home.svg"></a>
      <a @click="selectTab('teams')"><img class="side-bar-logo" src="@/assets/images/teams.svg"></a>
      <a @click="selectTab('drivers')"><img class="side-bar-logo" src="@/assets/images/helmet.svg"></a>
      <a @click="selectTab('standings')"><img class="side-bar-logo" src="@/assets/images/standings.svg"></a>
      <a @click="selectTab('calendar')"><img class="side-bar-logo" src="@/assets/images/calendar.svg"></a>
    </nav>

    <div v-if="selectedTab == 'home' || selectedTab == ''">
      <img class="f1-logo" src="@/assets/images/f1.png">
      <p class="line-1 anim-typewriter">It's lights out and away we go...</p>
        <div class="slide-track">
          <div class="slide">
            <img src="@/assets/images/slider1.jpg" height="296" width="350"/>
          </div>
          <div class="slide">
            <img src="@/assets/images/slider2.jpg" height="296" width="350"/>
          </div>
          <div class="slide">
            <img src="@/assets/images/slider3.jpeg" height="296" width="350"/>
          </div>
          <div class="slide">
            <img src="@/assets/images/slider4.jpg" height="296" width="350"/>
          </div>
          <div class="slide">
            <img src="@/assets/images/slider5.jpg" height="296" width="350"/>
          </div>
          <div class="slide">
            <img src="@/assets/images/slider6.jpg" height="296" width="350"/>
          </div>
          <div class="slide">
            <img src="@/assets/images/slider7.jpg" height="296" width="350"/>
          </div>
          <div class="slide">
            <img src="@/assets/images/slider8.jpg" height="296" width="350"/>
          </div>
          <div class="slide">
            <img src="@/assets/images/slider9.jpg" height="296" width="350"/>
          </div>
          <div class="slide">
            <img src="@/assets/images/slider10.jpg" height="296" width="350"/>
          </div>
          <div class="slide">
            <img src="@/assets/images/slider11.jpg" height="296" width="350"/>
          </div>
          <div class="slide">
            <img src="@/assets/images/slider12.jpg" height="296" width="350"/>
          </div>
        </div>
      </div>

    <div class="page-teams" v-if="selectedTab == 'teams'">
      <div v-for="car in teams">
        <div class="team">
          <img :src="car.logo" class="team-logo">
          <div class="team-details">
            <div class="attribute-wrapp">
              <span class="attribute-number">{{car.world_championships <= 0 ? 0 : car.world_championships}}</span>
              <img class="attribute-logo" src="@/assets/images/trophy.png">
            </div>
            <div class="attribute-wrapp">
              <span class="attribute-number">{{car.pole_positions <= 0 ? 0 : car.pole_positions}}</span>
              <img class="attribute-logo" src="@/assets/images/podium.jpg">
            </div>
            <div class="attribute-wrapp">
              <span class="attribute-number">{{car.fastest_laps <= 0 ? 0 : car.fastest_laps}}</span>
              <img class="attribute-logo" src="@/assets/images/fastestlap.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div v-if="selectedTab == 'drivers'">
    <input
        id="form"
        type="text"
        placeholder="Insert driver name..."
        v-model="driver"
    />
    <br>
    <button id="button" @click="getDriver(driver)">Search</button>
    <b>{{ Search }}</b>

    <div class="driver" v-if="driverInfo">
      <div class="driver-personal">
        <img :src="driverInfo.image" class="driver-image">
        <div style="display: flex; flex-direction: column">
          <span class="driver-name">{{driverInfo.name}}</span>
          <span class="driver-name">{{driverInfo.birthdate}}</span>
          <span class="driver-name">{{driverInfo.country.name}}</span>
        </div>
      </div>

      <div class="history-wrapper">
        <div class="year-wrapper" v-for="team in driverInfo.teams">
          <span class="driver-team">{{team.season}}</span>
          <img :src="team.team.logo" class="team-mini-logo">
        </div>
      </div>

        <div style="margin-top:-20px;">
          <span class="attribute-number">{{driverInfo.world_championships <= 0 ? 0 : driverInfo.world_championships}}</span>
          <img class="attribute-logo" src="@/assets/images/trophy.png">
        </div>
    </div>
  </div>

  <div v-if="selectedTab == 'standings'">
    <nav class="tab-years">
      <a @click="selectYear('races'); getRaces('2012')">2012</a>
      <a @click="selectYear('races'); getRaces('2013')">2013</a>
      <a @click="selectYear('races'); getRaces('2014')">2014</a>
      <a @click="selectYear('races'); getRaces('2015')">2015</a>
      <a @click="selectYear('races'); getRaces('2016')">2016</a>
      <a @click="selectYear('races'); getRaces('2017')">2017</a>
      <a @click="selectYear('races'); getRaces('2018')">2018</a>
      <a @click="selectYear('races'); getRaces('2019')">2019</a>
      <a @click="selectYear('races'); getRaces('2020')">2020</a>
      <a @click="selectYear('races'); getRaces('2021')">2021</a>
      <a @click="selectYear('races'); getRaces('2022')">2022</a>
    </nav>

    <div v-if="selectedYear">
      <div v-for="race in races">
        <a @click="selectRace(race.id); getRace(race.id)" class="race-wrapper">
          <img :src="race.circuit.image" class="race-circuit">
          <span style="font-size: 30px; font-weight:bold;">{{race.competition.name}}</span>
        </a>
        <div v-if="selectedRace == race.id">
          <img :src="rankings[1].driver.image" class="driver-image">
          <img :src="rankings[0].driver.image" class="driver-image">
          <img :src="rankings[2].driver.image" class="driver-image">
          <div v-for="drv in rankings" >
            <div class="rank-wrapper">
              <span>{{drv.driver.name}}</span>
              <span>{{drv.time}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div v-if="selectedTab == 'calendar'">
    <nav class="tab-years">
      <a @click="selectYear('standings'); getDriverStandings('2012'); getTeamsStandings('2012')">2012</a>
      <a @click="selectYear('standings'); getDriverStandings('2013'); getTeamsStandings('2013')">2013</a>
      <a @click="selectYear('standings'); getDriverStandings('2014'); getTeamsStandings('2014')">2014</a>
      <a @click="selectYear('standings'); getDriverStandings('2015'); getTeamsStandings('2015')">2015</a>
      <a @click="selectYear('standings'); getDriverStandings('2016'); getTeamsStandings('2016')">2016</a>
      <a @click="selectYear('standings'); getDriverStandings('2017'); getTeamsStandings('2017')">2017</a>
      <a @click="selectYear('standings'); getDriverStandings('2018'); getTeamsStandings('2018')">2018</a>
      <a @click="selectYear('standings'); getDriverStandings('2019'); getTeamsStandings('2019')">2019</a>
      <a @click="selectYear('standings'); getDriverStandings('2020'); getTeamsStandings('2020')">2020</a>
      <a @click="selectYear('standings'); getDriverStandings('2021'); getTeamsStandings('2021')">2021</a>
      <a @click="selectYear('standings'); getDriverStandings('2022'); getTeamsStandings('2022')">2022</a>
    </nav>

    <div class="standings-wrapper" v-if="selectedYear">
      <div style="margin-top:20px">
        <span style="font-size: 40px;">Driver Standings</span>
        <div  class="drivers-wrapper" v-for="drv in driverStandings" >
          <img :src="drv.driver.image" class="driver-image"><br>
          <span style="font-size: 20px; font-weight: bold;">{{drv.points}} points</span>
        </div>
      </div>

      <div style="margin-top:20px">
        <span style="font-size: 40px">Team Standings</span>
        <div  class="teams-wrapper" v-for="tm in teamsStandings" >
          <img :src="tm.team.logo" class="driver-image"><br>
          <span style="font-size: 20px; font-weight: bold">{{tm.points}} points</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      items: [],
      teams: [],
      selectedTab: '',
      selectedYear: '',
      selectedRace: '',
      driver: '',
      driverInfo: null,
      races: [],
      rankings: [],
      modalShow: false,
      driverStandings: [],
      teamsStandings: []
    };
  },
  methods: {
    getItems() {
      const options = {
        method: 'GET',
        url: 'https://api-formula-1.p.rapidapi.com/seasons',
        headers: {
          'X-RapidAPI-Key': '3c1850333fmsh495c1240b04e622p1343dbjsnf8506b86cacd',
          'X-RapidAPI-Host': 'api-formula-1.p.rapidapi.com'
        }
      };

      axios.request(options).then((response) => {
        this.items = response.data.response
      }).catch(function (error) {
        console.error(error);
      });
    },

    getTeams() {
      const options = {
        method: 'GET',
        url: 'https://api-formula-1.p.rapidapi.com/teams',
        headers: {
          'X-RapidAPI-Key': '3c1850333fmsh495c1240b04e622p1343dbjsnf8506b86cacd',
          'X-RapidAPI-Host': 'api-formula-1.p.rapidapi.com'
        }
      };

      axios.request(options).then((response) => {
        console.log(response.data);
        this.teams = response.data.response
      }).catch(function (error) {
        console.error(error);
      });
    },
    getDriver(driver) {
      console.log(driver)
      const options = {
        method: 'GET',
        url: 'https://api-formula-1.p.rapidapi.com/drivers',
        params: {search: driver},
        headers: {
          'X-RapidAPI-Key': '3c1850333fmsh495c1240b04e622p1343dbjsnf8506b86cacd',
          'X-RapidAPI-Host': 'api-formula-1.p.rapidapi.com'
        }
      };

      axios.request(options).then(response => {
        console.log(response.data);
        this.driverInfo = response.data.response[0]
        console.log(this.driverInfo.world_championships);
        this.driver = ''
      }).catch(function (error) {
        console.error(error);
      });
    },
    getRaces(season) {
      const options = {
        method: 'GET',
        url: 'https://api-formula-1.p.rapidapi.com/races',
        params: {type: 'race', season: season},
        headers: {
          'X-RapidAPI-Key': '3c1850333fmsh495c1240b04e622p1343dbjsnf8506b86cacd',
          'X-RapidAPI-Host': 'api-formula-1.p.rapidapi.com'
        }
      };

      axios.request(options).then(response => {
        console.log(response.data);
        this.races = response.data.response;
      }).catch(function (error) {
        console.error(error);
      });
    },
    getRace(race) {
      const options = {
        method: 'GET',
        url: 'https://api-formula-1.p.rapidapi.com/rankings/races',
        params: {race: race},
        headers: {
          'X-RapidAPI-Key': '3c1850333fmsh495c1240b04e622p1343dbjsnf8506b86cacd',
          'X-RapidAPI-Host': 'api-formula-1.p.rapidapi.com'
        }
      };

      axios.request(options).then(response => {
        this.rankings = response.data.response
        console.log(response.data);
      }).catch(function (error) {
        console.error(error);
      });
    },
    getDriverStandings(year) {
      const options = {
        method: 'GET',
        url: 'https://api-formula-1.p.rapidapi.com/rankings/drivers',
        params: {season: year},
        headers: {
          'X-RapidAPI-Key': '3c1850333fmsh495c1240b04e622p1343dbjsnf8506b86cacd',
          'X-RapidAPI-Host': 'api-formula-1.p.rapidapi.com'
        }
      };

      axios.request(options).then(response => {
        console.log(response.data);
        this.driverStandings = response.data.response
      }).catch(function (error) {
        console.error(error);
      });
    },
    getTeamsStandings(year) {
      const options = {
        method: 'GET',
        url: 'https://api-formula-1.p.rapidapi.com/rankings/teams',
        params: {season: year},
        headers: {
          'X-RapidAPI-Key': '3c1850333fmsh495c1240b04e622p1343dbjsnf8506b86cacd',
          'X-RapidAPI-Host': 'api-formula-1.p.rapidapi.com'
        }
      };

      axios.request(options).then(response => {
        console.log(response.data);
        this.teamsStandings = response.data.response
      }).catch(function (error) {
        console.error(error);
      });
    },
    selectTab(tab) {
      this.selectedTab = tab;
    },
    selectYear(year) {
      this.selectedYear = year;
      this.selectedRace = '';
    },
    selectRace(race) {
      this.selectedRace = race;
    }
  },
  created() {
    this.getTeams();
  }
}
</script>

<style>
.page{
  overflow: hidden;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

body {
  margin: 0;
}

.drivers-wrapper {
  margin-bottom: 50px;
  margin-top:20px;
}

.teams-wrapper {
  margin-bottom: 100px;
  margin-top:50px;
}

.standings-wrapper {
  display: flex;
  margin-left: 100px;
  justify-content: space-around;
  margin-right: 50px;
}

.rank-wrapper {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  margin-top:10px;
}

.race-wrapper:hover {
  cursor: pointer;
}

.race-circuit{
  height:150px;
  width:150px;
  margin-right:40px;
  margin-top:20px;
}

.driver {
  margin-top: 20px;
}

.driver-team {
  font-size: 30px;
}

.team-mini-logo {
  width: 60px;
  margin-right: 15px;
}

.year-wrapper {
  display: flex;
  flex-direction: column;
}

.history-wrapper {
  margin-left: 110px;
  margin-top: 50px;
  display: flex;
  width: auto;
  height: 100px;
  justify-content: center;
}

.driver-image {
  width: 150px;
}

.driver-personal {
  display: inline-block;
  text-align: center;
  width: 300px;
}

.driver-name {
  font-size: 30px;
  font-weight: bold;
}

.team {
  display: flex;
  margin-bottom: 30px;
  margin-top: 20px;
}

.attribute-logo {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.attribute-wrapp {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 30px;
}

.attribute-number {
  vertical-align: middle;
  font-size: 30px;
}

.team-details {
  margin-left: 50px;
  margin-right: 20px;
  margin-top: 35px;
  display: flex;
}

.team-logo {
  width: 300px;
  height: 150px;
}

.page-teams {
  margin-left: 25%;
}

.menu a {
  padding: 20px;
}

.menu a:hover {
  cursor: pointer;
}

.menu {
  position: fixed;
  left: 0;
  z-index: 50;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  background: red;
}

.tab-years a {
  font-size: 15px;
  color: white;
  padding: 20px;
  text-align: center;
  border:1px solid white;
}

.tab-years a:hover{
  background-color: white;
  color:red;
  cursor: pointer;
}


.tab-years {
  right: 0;
  position: fixed;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  background: red;
}

section {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 0;
  opacity: 0;
  transition: all ease-in .5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

section h1 {
  color: #fff;
  font-size: 50px;
  text-transform: uppercase;
  opacity: 0;
}

/* Styles applied on trigger */
section:target {
  opacity: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

section:target h1 {
  opacity: 0;
  animation: 2s fadeIn forwards .5s;
}

@keyframes fadeIn {
  100% { opacity:1 }
}

.side-bar-logo {
  width: 60px;
  height: 60px;
}

.f1-logo {
  margin-top: -40px;
  width: 50vh;
}

.line-1{
  width: 24em;
  margin: 0 auto;
  font-size: 200%;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-70%);
  font-weight: 700;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
  blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-250px * 7))}
}

.slide-track {
  animation: scroll 44s linear infinite;
  display: flex;
}

#form {
  width: 300px;
  padding: 10px;
  margin-top:15px;
  font-size: 15px;
  background: rgba(231, 187, 162, 0.4);
  border-radius: 13px;
  border: 1px solid #5d5b5b;
}

#form:focus {
  background:white;
}

#button {
  width: 125px;
  padding: 5px;
  font-size: 13px;
  font-weight: bold;
  background: rgba(231, 187, 162, 0.4);
  border-radius: 10px;
  border: 1px solid gray;
  color: gray;
  margin-top:5px;
}

#button:hover {
  border:1px solid black;
  color: black;
}
#button:focus{
  background:white;
  border:1px solid black;
  color: black;
}

</style>
